/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.06.2016, 1:27:54
    Author     : KnightDanila
*/
/*
    MD - Modal Div
*/

/* MD - Modal Div */
.MD{
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    /*padding-top: 7%;  Location of the box */
    left: 10%;
    top: 10%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*margin: 10% 0% 0% 10%;*/
}