/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.06.2016, 1:27:54
    Author     : KnightDanila
*/
/*
    MD - Modal Div
*/

/* The Modal (background) */
.MD-background {
    background-color: rgb(47, 79, 79);/*darkslategray;*/ /* Fallback color Black */
    background-color: rgba(47, 79, 79, 0.8); /* If opacity work it will be like gloss*/
}

.MD-background-question {
    background-color: rgb(0,0,0); /* Fallback color Black */
    background-color: rgba(0,0,0,1); /* If opacity work it will be like gloss*/
}

.MD-light{
    border: 1px solid yellowgreen;
    -webkit-box-shadow: 0px 8px 56px 4px rgba(154, 205, 50, 0.75);/*yellowgreen;*/
    -moz-box-shadow: 0px 8px 56px 4px rgba(154, 205, 50, 0.75);/*yellowgreen;*/
    box-shadow: 0px 8px 56px 4px rgba(154, 205, 50, 0.75);/*yellowgreen;*/
}
.MD-header{
    text-align:center;
    background-color: rgba(47, 79, 79, 0.8);/*darkslategray;*/
    border: 1px solid yellowgreen;
    padding: 20px 0px 20px 0px;
    color: yellowgreen;
    font-weight: bolder;
    font-size: medium;
}
.MD-content{
    text-align: center;
    background-color: rgba(47, 79, 79, 0.5);/*darkslategray;*/
    margin: auto;
    padding: 20px 0px 20px 10px;
    color: yellowgreen;
    font-weight:bold;
}
.MD-option{
    display: block;
    text-align: center;
    background-color: rgba(47, 79, 79, 0.4);/*darkslategray;*/
    margin: auto;
    padding: 20px 0px 20px 0px;
    color: white;
    font-weight:bold;
    cursor: pointer;
}
.MD-option:hover{
    text-align:center;
    background-color: rgba(27, 100, 80,0.7);
    margin: auto;
    padding: 20px 0px 20px 0px;
    color: rgb(57, 250, 180);
    text-shadow: 1px 1px 3px black, 0 0 3em rgb(57, 250, 200); /* Параметры тени */
}

/* BUG */
/*ТУТ ЕСТЬ. БАГ ЭТА ШТУКА НАЛАЗИТ, КАК ИСПРАВИТЬ !? :)*/
.MD-close-btn{
    /*padding: 10px 120px 0px 0px;*//*- ЭТО ТЕСТ ДЛЯ БАГА*/
    padding: 10px 10px 0px 0px;
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.MD-close-btn:hover,
.MD-close-btn:focus {
    color: #0ff;
    text-decoration: none;
    cursor: pointer;
}