/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.12.2016, 19:06:14
    Author     : KnightDanila
*/

.footer{
    text-align: center;
    position: absolute;
    top: 95%;
    background-color: rgba(27, 28, 31,0.8);
    width: 100%;
    height: 3%;
}
