/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.12.2017, 21:19:29
    Author     : KnightDanila
*/

.SimpleTimer {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2.5em;
    color: white;
}