html{
    /*width: 100%;*/
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: 100% 100%;//cover;*/
    background-color: darkslategray;
    /*background-image: url('grass_daisies_light_art_ultra_3840x2160_hd-wallpaper-80138.jpg');*/
    /*background-color: black;*/
}
body {
    /*padding-bottom: 100%;*/
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0));
    /*background-color: rgba(0,0,0,255);*/
    /*background-color: black;*/
    /*background-color: darkslategray;*/
    color: yellowgreen;

}

.table-style{
    display: inline-block;
    /*box-sizing: border-box;*/
    /*position: absolute;*/
    background-color: rgba(50, 50, 50, 0.5);
}
.gridStyle {
    border: 1px solid rgb(212,212,212);

    width: 400px; 
    height: 300px;
}

/*  Droper  */
#your-files{
    background-color: rgb(125,125,125);
    font-size: 300%;
    text-align: center;
    top: 50%;
    width: 50%; 
    border: 3px solid rgb(125,125,125);
    /*height: 300px;*/
    padding: 2em 0;
}
#your-files:hover{
    background-color: rgb(140,140,140);
    border: 3px solid #c3c3c3;
}
#file-dialog{
    display: none;
}

#file-info{
    width: 50%;
    /*text-align: center;*/
    border: 3px solid #c3c3c3;
    border-collapse: collapse;
    margin-bottom: 10px;
}
td{
    border: 3px solid #c3c3c3;
    border-collapse: collapse;
}

/* Output Data Styles*/
.show-code-area, .show-example-spinner {
    border: 1px solid silver;
    height: 55px;
    width: 590px;
    display: none;
}



.clip_button {
        visibility: hidden;
        text-align: center;
        border: 1px solid black;
        background-color: #ccc;
        margin: 10px;
        padding: 10px;
        
      }
.clip_button.zeroclipboard-is-hover { background-color: #eee; }
.clip_button.zeroclipboard-is-active { background-color: #aaa; }